body{
    background-color: hsl(212, 45%, 89%);
    overflow-y: hidden;
}
img{
    width: 250px;
    height: auto;
    border-radius: 10px;
}
.container{
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
   padding: 20px;
   border-radius: 20px;
   padding-bottom: 10px;
   margin-top: 10%;
   margin-bottom: 5%;
}
.first{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  
}
.second{
    font-size: 15px;
    color:hsl(216, 15%, 48%);
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.middle{
    margin-top: -15px;
    color:hsl(216, 15%, 48%);
    
}
@media only screen and(max-width:425px) {
   
    img{
        width: 250px;
        height: auto;
        border-radius: 10px;
    }
    .container{
        background-color: hsl(0, 0%, 100%);
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
       padding: 20px;
       border-radius: 20px;
       padding-bottom: 10px;
       margin-top: 10%;
       margin-bottom: 5%;
    }
    .first{
        font-family: "Outfit", sans-serif;
        font-weight: 700;
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
      
    }
    .second{
        font-size: 15px;
        color:hsl(216, 15%, 48%);
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .middle{
        margin-top: -15px;
        color:hsl(216, 15%, 48%);
       
}
}